@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&family=Shadows+Into+Light&family=Varela+Round&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

* {
  margin: 0;
}

span {
  color: orange;
}

.container {
  height: auto;
  width: auto;
}

.container .landing-page__container {
  width: auto;
  height: 98vh;
  background: url("../images/coron.jpg");
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .landing-page__container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Varela Round', sans-serif;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
}

.container .landing-page__container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .landing-page__container .navbar ul li {
  list-style: none;
  margin: 1rem 1.5rem;
}

.container .landing-page__container .navbar ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.container .landing-page__container .navbar ul a:hover {
  border-bottom: 2px solid orange;
  font-size: 1.23rem;
}

.container .landing-page__container .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  height: 100vh;
}

.container .landing-page__container .hero-container .hero__text {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Varela Round', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: .5rem solid orange;
}

.container .landing-page__container .hero-container .hero__text .hero__text__heading h3 {
  font-size: 12em;
  margin-left: .4em;
}

.container .landing-page__container .hero-container .hero__text .hero__text__subheading p {
  font-size: 2.5em;
  margin-left: 2.2em;
  letter-spacing: .2em;
}

.container .landing-page__container .hero-container .hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: 'Shadows Into Light', cursive;
  color: #181717;
  text-align: center;
}

.container .landing-page__container .hero-container .hero__images .hero__photo {
  width: 200px;
  padding: 1em 1em 6em 1em;
  background-color: #ebe9e9;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin-right: -7em;
}

.container .landing-page__container .hero-container .hero__images .hero__photo img {
  width: 200px;
}

.container .landing-page__container .hero-container .hero__images .hero__photo2 {
  width: 200px;
  padding: 1em 1em 6em 1em;
  background-color: #ebe9e9;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.container .landing-page__container .hero-container .hero__images .hero__photo2 img {
  width: 200px;
}
/*# sourceMappingURL=style.css.map */