@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:wght@200;400&family=Shadows+Into+Light&family=Varela+Round&display=swap');
;

// font-family: 'Prompt', sans-serif;
// font-family: 'Varela Round', sans-serif;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Open Sans', sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

* {
    margin: 0;
}


span {
    color: orange;
}

.container {
    height: auto;
    width: auto;

    .landing-page__container {
        width: auto;
        height: 100vh;
        background: url('../images/coron.jpg');
        background-position: center;
        object-fit: cover;
        display: flex;
        flex-direction: column;

        .navbar {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            justify-content: flex-end;
            font-size: .9rem;

            ul {
                display: flex;

                li {
                    list-style: none;
                    margin: 1rem 1.5rem;
                }

                a {
                    text-decoration: none;
                    color: white;
                    transition: .3s ease-out;
                }

                a:hover {
                    border-bottom: 2px solid orange;
                    font-size: 1rem;
                }
            }

        }

        .hero-container {
            display: flex;
            flex-direction: row;
            color: white;
            height: 100vh;

            .hero__text {
                min-height: 100%;
                display: flex;
                flex-direction: column;
                font-family: 'Varela Round', sans-serif;
                justify-content: center;
                // border-left: .5rem solid orange;

                .hero__text__heading {
                    background-color: rgba(214, 208, 208, .3);

                    h3 {
                        font-size: 12em;
                        margin-left: .4em;
                    }
                }

                .hero__text__subheading {
                    p {
                        font-size: 2.5em;
                        margin-left: 2.2em;
                        letter-spacing: .1em;
                    }

                    #sub-sub__heading {
                        font-size: .9rem;
                        // margin-top: .5em;
                        margin-left: 3.9em;
                        width: 40ch;
                        letter-spacing: .05em;
                    }
                }
            }

            .hero__images {
                // width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                font-family: 'Shadows Into Light', cursive;
                color: rgb(24, 23, 23);
                text-align: center;

                .hero__photo {
                    width: 200px;
                    padding: 1em 1em 4em 1em;
                    background-color: rgb(235, 233, 233);
                    transform: rotate(-10deg);
                    margin-right: -7em;

                    img {
                        width: 200px;
                    }
                }

                .hero__photo2 {
                    width: 200px;
                    padding: 1em 1em 4em 1em;
                    background-color: rgb(235, 233, 233);
                    transform: rotate(10deg);
                    margin-left: 2em;

                    img {
                        width: 200px;
                    }
                }
            }
        }

    }

    .gallery-container {
        height: 80vh;
        padding: 2em;
        display: flex;

        .testimonial-container {
            width: 40%;
            font-family: 'Open Sans', sans-serif;
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, .06);

            h2 {
                font-size: 2.5rem;
                width: 15ch;
                color: rgba(0, 0, 0, .8);
            }
            span {
                opacity: .7;
                text-decoration: underline;
            }

            i {
                color: rgba(0, 0, 0, .6);
            }

            .author {
                width: 100%;
                display: flex;
                // align-items: center;
                align-items: flex-end;
                justify-content: flex-end;
                flex-direction: column;
                padding-right: 2em;

                p  {
                    font-size: 1.5em;
                    line-height: 1.5em;
                }

                #title {
                    font-size: 1.1em;
                    opacity: .8;
                }
            }
        }

        .carousel-container {
            width: 60%;
            background-color: rgba(0, 0, 0, .06);
            position: relative;

            ul {
                list-style-type: none;
            }
        }
    }

    .footer-container {
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        padding: 3em;
        font-family: 'Varela Round', sans-serif;

        h3 {
            color: rgb(255, 143, 37);
            margin-bottom: .7em;
            font-size: .9rem;
        }

        .about-container {
            display: flex;
            flex-direction: row;
            width: 70%;
            padding: 2em 0;

            .footer-box {
                width: 33%;
                padding: 0 2em;

                h3 {
                    border-bottom: 1px solid orange;
                    width: auto;
                }

                p {
                    font-size: 1.2em;
                    padding: .4em 0;
                    opacity: .7;
                }

                i {
                    margin-right: .5em;
                }
            }
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            padding: 2em 6em 2em 2em;
            width: 30%;
            height: auto;
            background-color: orange;
            color: white;
            border-radius: 1em;

            h3 {
                color: white;
                border-bottom: 1px solid white;
            }

            .info-container {
                display: flex;
                flex-direction: column;
                height: auto;

                p {
                    width: 45ch;
                    font-size: 1.2em;
                    line-height: 1.6em;
                }

                .contacts {
                    margin-top: 1.2em;

                    p {
                        padding: .2em 0;
                    }

                    i {
                        margin-right: 2em;
                    }
                }
            }
        }

    }

    footer {
        text-align: center;
        padding: 1em;
        font-family: 'Varela Round', sans-serif;
        background-color: rgba(122, 122, 122, 0.1);
    }
}