@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:wght@200;400&family=Shadows+Into+Light&family=Varela+Round&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

* {
  margin: 0;
}

span {
  color: orange;
}

.container {
  height: auto;
  width: auto;
}

.container .landing-page__container {
  width: auto;
  height: 100vh;
  background: url("../images/coron.jpg");
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .landing-page__container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: .9rem;
}

.container .landing-page__container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .landing-page__container .navbar ul li {
  list-style: none;
  margin: 1rem 1.5rem;
}

.container .landing-page__container .navbar ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.container .landing-page__container .navbar ul a:hover {
  border-bottom: 2px solid orange;
  font-size: 1rem;
}

.container .landing-page__container .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  height: 100vh;
}

.container .landing-page__container .hero-container .hero__text {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Varela Round', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .landing-page__container .hero-container .hero__text .hero__text__heading {
  background-color: rgba(214, 208, 208, 0.3);
}

.container .landing-page__container .hero-container .hero__text .hero__text__heading h3 {
  font-size: 12em;
  margin-left: .4em;
}

.container .landing-page__container .hero-container .hero__text .hero__text__subheading p {
  font-size: 2.5em;
  margin-left: 2.2em;
  letter-spacing: .1em;
}

.container .landing-page__container .hero-container .hero__text .hero__text__subheading #sub-sub__heading {
  font-size: .9rem;
  margin-left: 3.9em;
  width: 40ch;
  letter-spacing: .05em;
}

.container .landing-page__container .hero-container .hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-family: 'Shadows Into Light', cursive;
  color: #181717;
  text-align: center;
}

.container .landing-page__container .hero-container .hero__images .hero__photo {
  width: 200px;
  padding: 1em 1em 4em 1em;
  background-color: #ebe9e9;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin-right: -7em;
}

.container .landing-page__container .hero-container .hero__images .hero__photo img {
  width: 200px;
}

.container .landing-page__container .hero-container .hero__images .hero__photo2 {
  width: 200px;
  padding: 1em 1em 4em 1em;
  background-color: #ebe9e9;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  margin-left: 2em;
}

.container .landing-page__container .hero-container .hero__images .hero__photo2 img {
  width: 200px;
}

.container .gallery-container {
  height: 80vh;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gallery-container .testimonial-container {
  border-radius: 1.5em;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .gallery-container .testimonial-container h2 {
  font-size: 2.5rem;
  width: 15ch;
  color: rgba(0, 0, 0, 0.8);
}

.container .gallery-container .testimonial-container span {
  opacity: .7;
  text-decoration: underline;
}

.container .gallery-container .testimonial-container i {
  color: rgba(0, 0, 0, 0.6);
}

.container .gallery-container .testimonial-container .author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2em;
}

.container .gallery-container .testimonial-container .author p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.container .gallery-container .testimonial-container .author #title {
  font-size: 1.1em;
  opacity: .8;
}

.container .gallery-container .carousel-container {
  width: 60%;
  position: relative;
  height: 80%;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.1);
}

.container .gallery-container .carousel-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .gallery-container .carousel-container li {
  margin: 0;
  padding: 0;
}

.container .gallery-container .carousel-container .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container .gallery-container .carousel-container .slide[data-active] {
  opacity: 1;
}

.container .gallery-container .carousel-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1em;
}

.container .gallery-container .carousel-container button {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 3em;
  z-index: 999;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: orange;
  font-size: 3em;
}

.container .gallery-container .carousel-container button:hover {
  color: white;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.container .gallery-container .carousel-container #prev {
  left: 0;
}

.container .gallery-container .carousel-container #next {
  right: 0;
}

.container .footer-container {
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em;
  font-family: 'Varela Round', sans-serif;
  background-color: orange;
}

.container .footer-container h3 {
  color: white;
  margin-bottom: .7em;
  font-size: .9rem;
}

.container .footer-container .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  padding: 2em 0;
}

.container .footer-container .about-container .footer-box {
  width: 33%;
  padding: 0 2em;
}

.container .footer-container .about-container .footer-box h3 {
  border-bottom: 1px solid white;
  width: auto;
}

.container .footer-container .about-container .footer-box p {
  font-size: 1.2em;
  padding: .4em 0;
  opacity: .9;
  color: white;
}

.container .footer-container .about-container .footer-box i {
  margin-right: .5em;
}

.container .footer-container .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 6em 2em 2em;
  width: 30%;
  height: auto;
  background-color: white;
  color: orange;
  border-radius: 1em;
}

.container .footer-container .contact-container h3 {
  color: orange;
  border-bottom: 1px solid orange;
}

.container .footer-container .contact-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.container .footer-container .contact-container .info-container p {
  width: 45ch;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #3b3939;
}

.container .footer-container .contact-container .info-container .contacts {
  margin-top: 1.2em;
}

.container .footer-container .contact-container .info-container .contacts p {
  padding: .2em 0;
}

.container .footer-container .contact-container .info-container .contacts i {
  margin-right: 2em;
}

.container footer {
  text-align: center;
  padding: 1em;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(122, 122, 122, 0.1);
}
/*# sourceMappingURL=style.css.map */